<div class="container-fluid">
  <div class="row">
    <% flash.each do |msg_type, message| %>
      <%
        bs_class = case msg_type
                   when 'notice'
                     'info'
                   when 'alert'
                     'danger'
                   else
                     msg_type
                   end
      %>
      <div class="col alert alert-<%= bs_class %>">
        <%= message %>
      </div>
    <% end %>
  </div>
</div>
